
.Imagem{
    border-top: 10px groove rgb(181, 190, 98);
    width: 170px!important;
    height: 150px!important;
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}

.Imagem{
    width: 80px!important;
    height: 60px!important;
}
.titulo{
    font-size: 10px;
    color: rgb(7, 5, 26);
    margin-bottom: 7px;
    text-align: center;
}
.container__botao{
    display: none;
}
@media screen and (min-width: 1024px) {
    .titulo{
        display: block;
        font-size: 20px;
    }
   .Imagem{
    height: 10px;
    border-top: 10px groove rgb(173, 0, 179);
    border-bottom: 10px groove rgb(147, 180, 0);
    width: 180px!important;
    height: 160px!important;

   }
   .titulo__cabeçalho{
    font-size: 30px;
    font-family: oswald;
    color: rgb(4,107, 1);
    display: block;}
   }
   